:root{
	--corVermelho: #e03434;
	--corTexto: #fff;
	--corPreto: #171717;
  --corCinza: #bbb;
	--corFundo: #521f00;
}
html,body{
	height: 100%;
	background-color: var(--corPreto);
	color: var(--corTexto);
	margin: 0;
}
body{
	-ms-overflow-style: none;
	scrollbar-width:none;
}
body::-webkit-scrollbar{
	display: none;
}
a,a:active,a:hover{
	color: #000;
	text-decoration: none;
}
*{
	box-sizing: border-box;
}
.Body{
	flex: auto;
}
.Footer{
  position: fixed;
  display: block;
  width: 100%;
  bottom:0;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e03434;
	color: #000;
}
.Mesa{
  width: 100%;
  margin: 1em;
}
.Ficha{
  padding: 1em .5em;
  border: solid 1px var(--corCinza);
  border-radius: 5px;
  font-size: 1.5em;
}
.Atributos{
  border: solid 1px var(--corCinza);
  border-radius: 5px;
  min-width: 10em;
  font:bold 1em Courier;
  padding: 3em 0;
  height: 50%;
}
.AtribItem{
  margin: 0 auto;
}
.Informacao{
  width: auto;
  text-align: center;
  margin: 5px;
}
.Info{
  font-size: 5em;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--corCinza);
}
.Equipamento{
  max-width: 15%;
  aspect-ratio:1;
  border: solid 1px var(--corCinza);
  border-radius: 5px;
  font-size: 1.7em;
  margin: 1rem 0;
  padding: 10px;
}
.Botoes{
  padding: 0;
}
.Funcao{
  font-size: 1rem;
  width: 50%;
  margin: 1em auto;
}
.Dados{
  width: 100%;
  justify-content: flex-start !important;
}
.Resultado{
  display: inline-block;
}
i{
  width: 2em;
  margin: 1%;
}
h1{
  margin: 0;
}
.Flex{
	display: flex;
	align-content: center;
}
.Flex .Wrap{
  flex-wrap: wrap;
}
.Flex .CentroY{
	align-items: center;
}
.Flex .Col{
  flex-direction: column;
}
.Flex .SAround{
	justify-content: space-around;
}
.Flex .SBetween{
	justify-content: space-between;
}
