:root{
	--corVermelho: #e03434;
	--corTexto: #fff;
	--corPreto: #171717;
  --corCinza: #bbb;
	--corFundo: #521f00;
}
html,body{
	height: 100%;
	background-color: var(--corPreto);
	color: var(--corTexto);
	margin: 0;
}
body{
	-ms-overflow-style: none;
	scrollbar-width:none;
}
body::-webkit-scrollbar{
	display: none;
}
a,a:active,a:hover{
	color: #000;
	text-decoration: none;
}
.Footer{
  position: fixed;
  display: block;
  width: 100%;
  bottom:0;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e03434;
	color: #000;
}
.Mesa{
  width: 100%;
  margin: 1em;
}
.Ficha{
  padding: 1em .5em;
  border: solid 1px var(--corCinza);
  border-radius: 5px;
}
.Atributos{
  border: solid 1px var(--corCinza);
  border-radius: 5px;
  min-width: 10em;
  font: bold 200rem Courier;
  padding: 1em 0;
  height: 100%;
}
.AtribItem{
  margin: 0 auto;
}
.AtribItem *{
  height: 100%;
  display: inline;
}
.Informacao{
  width: auto;
  text-align: center;
  margin: 5px;
  font-size: 100rem;
}
#Ident{
  font-size: 5em;
  width: 97%;
  margin: 1rem auto;
  border-bottom: solid 1px var(--corCinza);
}
.Equipamento{
  max-width: 20%;
  aspect-ratio:1;
  border: solid 1px var(--corCinza);
  border-radius: 5px;
  font-size: 1.7em;
  margin: 1rem 5px;
  padding: 10px;
}
.Funcao{
  margin: 0 auto;
  width: 30%;
  aspect-ratio:1;
  font-size: 25%;
}
.Baixo{
  width: 100%;
}
.Dados{

}
.Resultado{
  display: inline-block;
  font-size: 200rem;
}
.Flex{
	display: flex;
	align-content: center;
}
.Flex .Wrap{
  flex-wrap: wrap;
}
.Flex .CentroY{
	align-items: center;
}
.Flex .Col{
  flex-direction: column;
}
.Flex .JCC{
  justify-content: center;
}
.Flex .JCSA{
	justify-content: space-around;
}
.Flex .JCSB{
	justify-content: space-between;
}
.Flex .Wrap{
  flex-wrap: wrap;
}
