:root{
	--corVermelho: #e03434;
	--corTexto: #fff;
	--corPreto: #171717;
	--corFundo: #521f00;
  color: var(--corFundo)
}
html,body{
	height: 100%;
	background-color: var(--corPreto);
	color: var(--corTexto);
	margin: 0;
}
body{
	-ms-overflow-style: none;
	scrollbar-width:none;
}
body::-webkit-scrollbar{
	display: none;
}
a,a:active,a:hover{
	color: #000;
	text-decoration: none;
}
*{
	box-sizing: border-box;
}
.Body{
	display: flex;
	flex: auto;
}
.Mesa{
  box-sizing: border-box;
  width: 100%;
  border: solid 3px #0f0;
}
.Ficha{
  display: flex;
  padding: 0.5em;
  border: solid 3px var(--corVermelho);
  font-size: 1.5em;
}
.Atributos{
  width: 30vw;
  justify-content: space-between;
  font:bold 1em Courier;
}
.Informacao{
  border: solid 3px #0f0;
  width: 100%;
  font-size: 3rem;
  text-align: center;
}
.Equipamento{
  border: solid 3px #f00;
  width: 20%;
}
.Funcao{

}
.Footer{
	width: 100%;
	height: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e03434;
	color: #000;
}
i{
  width: 2em;
  margin: 1%;
}
.💪{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
